@import '@/commom/styles/variables.scss';

.#{$prefix-cls}-tree-panel {
  position: relative;
  width: 300px;
}

.#{$prefix-cls}-drag-tree {
  height: 100%;

  &-main {
    height: 60%;
    border: 1px solid #ddd;
  }

  &-content {
    height: calc(100% - 30px);
    overflow-y: auto;
  }

  &-header {
    position: relative;
    height: 30px;
    line-height: 30px;
    font-weight: bold;
    text-indent: 20px;
    background-color: #f0f0f0;

    &::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 5px;
      height: 100%;
      background-color: #d9d9d9;
    }
  }

  &-dragging-source {
    opacity: 0.3;
  }

  &-drop-target {
    background-color: #e8f0fe;
  }

  &-placeholder {
    background-color: #1967d2;
    height: 2px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-50%);

    &-container {
      position: relative;
    }
  }

  &-external-node {
    align-items: center;
    display: flex;
    height: 24px;
    font-size: 14px;

    .filetype {
      display: flex;
    }

    .label {
      padding-inline-start: 8px;
    }
  }
}

.#{$prefix-cls}-drag-layer {
  height: 60%;
  left: 0;
  pointer-events: none;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, .3);
  opacity: .2;
}

.#{$prefix-cls}-drag-preview {
  align-items: "center";
  background-color: #1967d2;
  border-radius: 4px;
  color: #fff;
  display: inline-grid;
  font-size: 14px;
  gap: 8px;
  grid-template-columns: auto auto;
  padding: 4px 8px;
  pointer-events: none;

  .icon, .label {
    align-items: center;
    display: flex;
  }
}

.#{$prefix-cls}-drag-node {
  display: flex;
  align-items: center;
  height: 24px;
  font-size: 14px;

  .expand-icon-wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
  }

  .label {
    padding-inline-start: 8px;
  }
}
